

 <a class="waves-effect waves-light btn left">Need to howl?</a>
<a class="waves-effect waves-light btn right">See the Pack</a>

<h4>Here are the last 5 howls from your pack.</h4>


    <% @howls.each do |h| %>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
                <span class="card-title">
                  <a href="/howls/<%= h.id %>" >
                    <%= h.howl %>
                  </a>
                </span>
                <img src="<% h.wolf.picture_url %>" alt="" class="circle right">
                <a class="right secondary-content">Today</a>
                <% if h.share_image_url %>
                  <img src="<% h.share_image_url %>" alt="">
                <% end %>
                <p><% h.howl %></p>
            </div>
            <div class="card-action">
              <a href="#">Howl Back (0)</a>
              <a href="#">Like (0)</a>
            </div>
          </div>
        </div>
      </div>       
     <% end %>


  <a class="waves-effect waves-light btn">See Previous Howls</a>

  <a  href="/howls/new" class="btn-floating btn-large waves-effect waves-light right"><i class="material-icons">add</i></a>
