
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col xs12 s8">
        <input id="howl" type="text" class="validate">
        <label for="howl">What are you howling about?</label>
      </div>
      <div class="input-field col xs12 s8">
        <input id="profile_picture_url" type="text" class="validate">
        <label for="profil_picture_url">Wanna share a picture?</label>
      </div>
  <div class="input-field col xs12 s8">
    <select class="icons">
      <option value="" disabled selected>Who's Howling?</option>
      <option value="name_1" data-icon="http://lorempixel.com/20/20" class="circle right">Amarok</option>
      <option value="name_2" data-icon="http://lorempixel.com/20/20" class="circle right">Fenrir</option>
      <option value="name_3" data-icon="http://lorempixel.com/20/20" class="circle right">Bigby Wolf</option>
    </select>
    <label>Who's Howling?</label>
  </div><br><br>
    </div><br><br>
    <div class="row">
      <div class="left">
        <a class="waves-effect waves-light btn-large">Back</a>
      </div>
      <div class="right">
        <button class="btn waves-effect waves-light" type="submit" name="action">Howl
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>

