
<div class = "container">
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content howlCard">
        <span class="card-title" href="/howls/1" >John</span>
        <img src="https://s3-us-west-2.amazonaws.com/wolfimages/wolf-1.jpg" alt="" class="howlProfileImage circle right">
        <a class="right secondary-content">Today</a><br>
        <img src="https://s3-us-west-2.amazonaws.com/wolfimages/share-1.jpg" alt="" class="howlImage">
        <p>Aroooooooooo!!</p>
      </div>
    <div class="card-action">
        <a href="#">Howl Back (0)</a>
        <a href="#">Like (0)</a>
    </div>
  </div>   
<!-- 
    <a class="waves-effect waves-light btn red darken-4 previousHowlsButton">See Previous Howls</a>

    <a  href="/howls/new" class="btn-floating btn-large waves-effect waves-light right red darken-4"><i class="material-icons">add</i></a> -->
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col s11 offset-s1 m5 offset-m4">
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="https://s3-us-west-2.amazonaws.com/wolfimages/wolf-8.jpg" alt="" class="circle">
          <span class="title">Name</span>
          <p class="responseText">Your response is too long, no one is ever gonna read it- especially not you. Responses should be 140 characters or less.
          </p>
          <a href="#!" class="secondary-content">Today</a>
        </li>
        <li class="collection-item avatar">
          <img src="https://s3-us-west-2.amazonaws.com/wolfimages/wolf-7.jpg" alt="" class="circle">
          <span class="title">Name</span>
          <p class="responseText">WAHHHHHHHH!!!
          </p>
          <a href="#!" class="secondary-content">Today</a>
        </li>
      </ul>
    </div>
  </div>
</div>
       



<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">

    <% if @howl.errors.any? %>
    <div class="row">
      <div class="col s10 offset-sm-1 m5 offset-m4">
        <div class="card-panel">
            <ul>
              <% @howl.errors.full_messages.each do |e| %>
                <li><%= e %></li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
  <% end %>        

  <form action="/howls/" method="post" class="col s12">
    <div class="row">
      <div class="input-field col xs12 s12 m12">
        <input name="howl" type="text" class="validate" value="" >
        <label for="howl">What's your response?</label>
      </div>
      <div class="input-field col xs12 s12 m12">
        <input name="share_image_url" type="text" class="validate" value="">
        <label for="share_image_url">Wanna share a picture?</label>
      </div>
  <div class="input-field col xs12 s12 m12">
  <!-- DROPDOWN PICK A WOLF -->
    <select class="icons" id="wolf" name="wolf_id">
      <option value="" disabled selected>Who's Responding?
        <option value="1" data-icon="https://s3-us-west-2.amazonaws.com/wolfimages/wolf-1.jpg" class="circle right">
          John
        </option>
        <option value="2" data-icon="https://s3-us-west-2.amazonaws.com/wolfimages/wolf-2.jpg" class="circle right">
          Paul
        </option>
        <option value="3" data-icon="https://s3-us-west-2.amazonaws.com/wolfimages/wolf-3.jpg" class="circle right">
          George
        </option>
        <option value="4" data-icon="https://s3-us-west-2.amazonaws.com/wolfimages/wolf-4.jpg" class="circle right">
          Ringo
        </option>
        <option value="5" data-icon="https://s3-us-west-2.amazonaws.com/wolfimages/wolf-5.jpg" class="circle right">
          Delores
        </option>
    </select>
    <label>Who's Howling?</label>
  </div><br><br>
    </div><br><br>
    <!-- SUBMIT -->
    <div class="row">
      <div class="left">
        <a class="waves-effect waves-light btn red lighten-2" href="/howls">Back</a>
      </div>
      <div class="right">
        <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">RESPOND
        <i class="material-icons right">done</i>
        </button>
      </div>
    </div>
  </form>
</div>
</div>
</div>
