
<ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Amarok</span>
      <p>I work hard and play hard. I'm serious but also relaxed. Howl at me.
      </p>
      <p class="secondary-content">3 howls</p>

    </li>
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Fenrir</span>
      <p>Have you ever wanted to roll the universe up like a burrito and devour it? Me too. But with guac.
      </p>
      <p class="secondary-content">2 howls</p>
    </li>
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Bigby Wolf</span>
      <p>Sheriff of Fabletown. I'l huff and puff and blow your alibi wide open.
      </p>
      <p class="secondary-content">7 howls</p>
    </li>
  </ul>

    <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
          