
 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col xs12 s12 m4">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
        <div class="input-field col xs12 s12 m4">
          <input id="profile_picture_url" type="text" class="validate">
          <label for="profil_picture_url">Profile Picture URL</label>
        </div>
        <div class="input-field col xs12 s12 m4">
          <input id="caption" type="text" class="validate" length="80">
          <label for="caption">Caption</label>
        </div>
      </div>
      <div class="row">
        <div class="left">
          <a class="waves-effect waves-light btn">Back</a>
        </div>
        <div class="right">
          <button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>