
  <!-- --------------------------- -->
  <!-- HERO SECTION -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">Howlr</h1>
        <div class="row center">
          <h5 class="header col s12  white-text">A modern social network for wolves</h5>
        </div>
        <div class="row center">
          <a href="/wolves/new" id="download-button" class="btn-large waves-effect waves-light orange accent-2">New to Howlr?</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="https://s3-us-west-2.amazonaws.com/wolfimages/forest-bkgd-1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">


      <!-- --------------------------- -->
      <!--   ICON SECTION  -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text accent-2-text"><i class="material-icons">chat_bubble</i></h2>
            <h5 class="center">Howl at friends</h5>

            <p class="light">Share content, images, and see who's howling what. You can "like" a how without restricting the number of times a given howl can be liked. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text accent-2-text"><i class="material-icons">forum</i></h2>
            <h5 class="center">Keep the conversation going</h5>

            <p class="light">Remember the client here is a pack of wolves.  Keep the conversation going by howling back in reply to a howl.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text accent-2-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Use Materialize</h5>

            <p class="light">For fast, easy default stylings that incorporate custom components, use <a href="www.materializecss.com" target="_blank">Materialize.</a>We have provided detailed documentation as well as specific code examples to help new users get started.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- --------------------------- -->

 <!-- BOTTOM PARALEX -->

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://s3-us-west-2.amazonaws.com/wolfimages/forest-bkgd-4.jpg" alt="Unsplashed background img 3"></div>
  </div>



